
<div class="dev">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img src="../images/logo_200w.png" alt="">
            </div>
        </div>
        <div class="row"></div>
            <div class="col-12">
                <div class="in-dev card text-center">
                    <h4>EM DESENVOLVIMENTO</h4>
                    <div class="img-center">
                        <img src="../images/loading.gif" alt="" width="60" height="60">
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>